<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/select2/select2.min.css" />
    <link rel="stylesheet" href="~/css/paginacion/jquery.dataTables.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/81ce8a99d9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light nav-container mb-5">
            <div class="container">
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img src="https://i.postimg.cc/sXFKFktj/image.png"
                                 alt="" width="30" height="24" class="d-inline-block align-text-top">
                            nombre random
                            <!-- agregar nombre pagina -->
                        </a>
                    </div>
                </nav>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Articulo">Artículos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Usuario">Usuarios</a>
                        </li>
                    </ul>
                    <form class="d-flex align-items-center">
                        <!-- hide() si no está logueado -->
                        <p class="mb-0 me-3">Hola, Robot</p> <!-- agregar nombre usuario actual -->
                        <button class="btn" type="submit">Salir</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="mt-5">
        <div class="container py-4">
            <div class="row mb-5">
                <div class="col-md mt-4 px-5 integrantes">
                    <div class="mb-4 p-4">
                        <h2>Programacion Web 3 20211C</h2>
                        <h5>¡Somos el grupo 5!</h5>
                        <h4 class="mt-4">Integrantes</h4>
                        <ul class="list-unstyled text-grey">
                            <li>Blotta Rivero Luis Eduardo</li>
                            <li>Lopez Pacini Florencia</li>
                            <li>Seijas Tomas</li>
                            <li>Tries Ian</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md mt-4 px-5 navegacion">
                    <div class="mb-4 p-4">
                        <h2>Navegación</h2>
                        <ul class="list-unstyled text-grey">
                            <li><a href="#" class="py-2 d-block">Pedidos</a></li>
                            <li><a href="#" class="py-2 d-block">Artículos</a></li>
                            <li><a href="#" class="py-2 d-block">Clientes</a></li>
                            <li><a href="#" class="py-2 d-block">Usuarios</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md mt-4 px-5 proyecto">
                    <div class="mb-4 p-4">
                        <a class="btn py-3 px-4 mb-0 ir-arriba">
                            Ir hacia arriba
                            <i class="fas fa-long-arrow-alt-up ms-4"></i>
                        </a>
                        <h3 class="mt-5">Links del proyecto</h3>
                        <ul class="list-unstyled text-grey">
                            <li class="py-2 d-block">
                                <i class="fab fa-github"></i>
                                <a href="https://github.com/LuisBlotta/TP-PW3-GRUPO-5" target="_blank">
                                    Repositorio de
                                    GitHub
                                </a>
                            </li>
                            <li class="py-2 d-block">
                                <i class="fab fa-trello"></i>
                                <a href="https://trello.com/b/hRJhaQQt/prog-web-3-grupo-5" target="_blank">
                                    Tablero de
                                    Trello
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>     
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright © | Hecho por el grupo <b>5</b>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/select2/select2.js"></script>
    <script src="~/js/paginacion/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
