@{ 

    ViewData["Title"] = "Page not found";

}
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404"></div>
        <h1>404</h1>
        <h2>Oops! Página no encontrada</h2>
        <p>Lo sentimos, pero la página que está buscando no existe, ha sido eliminada. nombre cambiado o no está disponible temporalmente </p>
        <a href="/home">Volver al home</a>
    </div>
</div>


