@model ViewModels.ClientesArticulos
@{
    ViewData["Title"] = "Nuevo Pedido";
}
@section Scripts{
    <script src="~/bundles/nuevoPedido.min.js"></script>
}
<h3 class="text-center mb-2">Crear nuevo Pedido</h3>
<div class="row">
    <div class="col-md-4 mx-auto text-center w-75" id="alert">

    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-md-8">
        <form>
            <div class="row form-group">
                <div class="col-md-4 d-flex justify-content-start">
                    <select class="select2NuevoPedido col-12" id="cliente" name="cliente">
                        <option value="">Cliente</option>
                        @foreach (Contexto_de_datos.Models.Cliente c in Model.Clientes)
                        {
                            <option value="@c.IdCliente">@c.Nombre #@c.Numero</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <select class="select2NuevoPedido col-12" id="articulo" name="articulo">
                        <option value="">Articulo</option>
                        @foreach (Contexto_de_datos.Models.Articulo a in Model.Articulos)
                        {
                            <option value="@a.Codigo">@a.Descripcion #@a.Codigo</option>
                        }
                    </select>
                </div>
                <div class="col-md-4">
                    <input type="number" class="form-control" name="cantidad" id="cantidad" placeholder="Cantidad" />
                </div>
                <div class="col-md-4">
                    <input type="button" class="btn btn-primary" name="agregar" id="agregar" value="Agregar" onclick="AgregarArticulo()" />
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <label class="text-danger" id="errorSelect"></label>
            </div>
            <div class="row">
                <div class="table-container">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Codigo</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Quitar</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col form-group">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="comentarios" style="height: 100px"></textarea>
                        <label for="comentarios">Comentarios</label>
                    </div>
                </div>
            </div>

            <div class="form-group d-flex justify-content-center row">
                <div class="col-md-4">
                    <input type="button" value="Guardar" class="btn btn-primary" name="submit" onclick="MandarForm('guardar')" />
                </div>
                <div class="col-md-4">
                    <input type="button" value="Guardar y crear otro" class="btn btn-primary" name="submit" onclick="MandarForm('crearOtro')" />
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary" href="/Pedido/Index">Cancelar</a>
                </div>
            </div>
        </form>
    </div>

</div>