@model Contexto_de_datos.Models.Cliente

@{
    ViewData["Title"] = "Nuevo Cliente";
}
<h3 class="text-center mb-2">Crear nuevo cliente</h3>
@if (!string.IsNullOrEmpty((string)TempData["mensaje"]))
{<div class="row">
        <div class="col-md-4 mx-auto text-center w-75">
            <div class="alert alert-success alert-dismissible ">
                <label>@TempData["mensaje"]</label>
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
        </div>
    </div>
}
<div class="row d-flex justify-content-center">
    <div class="col-md-8">
        <form asp-action="NuevoCliente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Numero" class="control-label"></label>
                    <input asp-for="Numero" class="form-control" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Cuit" class="control-label"></label>
                    <input asp-for="Cuit" class="form-control" />
                    <span asp-validation-for="Cuit" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group d-flex justify-content-center row">
                <div class="col-md-4">
                    <input type="submit" value="Guardar" class="btn btn-primary" name="submit" />
                </div>
                <div class="col-md-4">
                    <input type="submit" value="Guardar y crear otro" class="btn btn-primary" name="submit" />
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary" href="/Cliente/Index">Cancelar</a>
                </div>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
